
.Navigation {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    margin-bottom: 20px;
}


.Navigation-links {
    display: flex;
    flex-direction: row;
}

.Navigation-mobile {
   display: none;
}

@media (max-width: 996px) {
    .Navigation {
        flex-direction: column;
    }

    .Navigation-links {
        flex-direction: column;
    }
    .Navigation-mobile{
        display: inline;
    }
}
